.places__paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: white;
    margin: 0;
    width: 484px;
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .places__paragraph {
        width: 456px;
    }

}
@media (min-width: 768px) and (max-width: 1023px) {
    .places__paragraph {
        font-size: 16px;
        line-height: 26.08px;
        width: 352px;
    }

}

@media (min-width: 320px) and (max-width: 767px) {
    .places__paragraph {
        width: 288px;
        align-self: center;
    }
}