.lead {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 56px 148px 0;
    width: 100%;
}

@media (max-width: 1279px) {
    .lead {
        max-width: 1024px;
        padding: 48px 48px 0;
    }

}

@media (max-width: 1023px) {
    .lead {
        max-width: 768px;
        padding: 48px 0 0;
    }

}

@media (max-width: 767px) {
    .lead {
        max-width: 320px;
    }
}