.intro {
    padding: 92px 0 92px 148px;
    box-sizing: border-box;
    min-width: 100vw;
}


@media screen and (max-width: 1024px) {
    .intro {
        padding: 92px 256px 92px 48px;
    }

}


@media screen and (max-width: 768px) {
    .intro {
        padding: 88px 24px;
    }

}

@media screen and (max-width: 320px) {
    .intro {
        padding: 64px 16px;
    }
}

