.cover {
    background-image: url('../../images/cover-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    margin: 92px auto;
    max-width: 1184px;
    min-height: 740px;
    padding: 0 48px;
    position: relative;
    width: 100%;
    z-index: 1;
}

.cover::before {
    background-color: #2A2C2F;
    content: '';
    height: 100%;
    left: 0;
    opacity: .3;
    position: absolute;
    top: 0;
    transition: .3s ease-in-out;
    width: 100%;
}

.cover:hover::before {
    opacity: .8;

}

@media (max-width: 1279px) {
    .cover {
        max-width: 1024px;
        min-height: 640px;
        padding: 0;
    }

}


@media (max-width: 1023px) {
    .cover {
        margin: 90px 0 88px;
        max-width: 768px;
        min-height: 480px;
    }

}

@media (max-width: 767px) {
    .cover {
        margin: 66px 0 64px;
        max-width: 320px;
        min-height: 200px;
    }
}