.cover__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 76px; 
    color: white;
    text-align: center;
    width: 560px;
    top: 245px;
    left: 312px;
    position: absolute;
    margin: 0;
    transition: opacity 0.5s ease;
    z-index: 20;
}

.cover__title:hover {
    opacity: 0.8;
}

@media screen and (max-width: 1024px) {
    .cover__title {
        max-width: 560px; 
        top: 192px;
        left: 232px;
    }

}

@media screen and (max-width: 768px) {
    .cover__title {
        top: 115px;
        left: 104px;
        max-width: 560px
    }

}

@media screen and (max-width: 320px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px; 
        top: 33px;
        left: 16px;
        max-width: 288px
    }
}